@import "~normalize.css/normalize.css";

body {
    font-family: -apple-system, "Helvetica Neue", "Lucida Grande", sans-serif;
    margin: 10px 30px;
    margin-bottom: 30px;
}

label, input, button {
    display: block;
}

label {
    font-size: 14px;
    color: #444;
    margin-bottom: -5px;
}

input {
    box-shadow: none;
    outline: none;
    border: 0;
    border-bottom: 2px solid #DDD;
    font-size: 18px;
    width: 200px;
    margin: 20px 0;
    padding-bottom: 5px;
}

// Screw browsers...
// https://css-tricks.com/almanac/selectors/p/placeholder/
// http://stackoverflow.com/a/15586457
$placeholder-color: #888;
::-webkit-input-placeholder {
    color: $placeholder-color;
    opacity: 1 !important;
}
:-moz-placeholder {
    color: $placeholder-color;
    opacity: 1 !important;
}
::-moz-placeholder {
    color: $placeholder-color;
    opacity: 1 !important;
}
:-ms-input-placeholder {
    color: $placeholder-color;
    opacity: 1 !important;
}

button {
    border: 0;
    background: #26A65B;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    min-width: 200px;
}

#header {
    margin-bottom: 50px;
    cursor: pointer;
}

.money {
    font-size: 14px;
    font-weight: bold;
}
