#metrics {
    .row {
        .column {
            display: inline-block;
        }
        .column:nth-child(1) {
            min-width: 100px;
        }
        .column:nth-child(2) {
            padding-left: 10px;
        }
    }
}
